
.centertext{
    text-align: center;
    position: relative;
}
.colorchange{
    color: #ffffff;
    display: inline;
}
.disp{
    margin-top: 5px;
}

#imgcasa{
    width: 12rem;
    
    object-position: 20% 10%;
    margin-top: 10px;
}
.image{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
