
.MuiTable-root{
    background-color: #E3DCCA !important;
    border-bottom: none !important;
    color: black !important;
}
.MuiTablePagination-root{
    background-color: #E3DCCA !important;
    border-bottom: none !important;
    color: black !important;
}
.MuiTablePagination-displayedRows{
    color: black !important;
}
td{
    color: black !important;
}
th{
    color: black !important;
}
.selectLabel{
    color: black !important;
}
.MuiTablePagination-selectIcon{
    color: black !important;
}
.MuiTableRow-root{
    color: black !important;
    
    font-family: "Lucida Console", "Courier New", monospace !important;
}

.MuiTableRow-root{
    color: black !important;
}

.MuiTableCell-root{
    color: rgb(0, 0, 0) !important;
}
.MuiTableHead-root{
    color: black !important; 
}

.MuiTypography-root{
    color: black !important;
}
.MuiTablePagination{
    color: black !important;
}
.MuiSelect-root{
    color: black !important;
}
#boton1{
    margin-top: 30px;
    float: center;
}
.botonguardado{
    margin-left: 110px;
}
#boton{
    float: right;
    margin-right: 225px;
    background-color:  #CDAF8F;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4D2415;
    width: 200px;
    height: 42px;
    left: 1243px;
    top: 307px; 
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px #4D2415;
    border-radius: 4px;
    box-sizing: border-box;
}
.botonesdecambiso{
    margin-bottom: 20px !important;
    margin-top: 20px;
    
}
.browser-default{
    background-color:  #ffffff !important;
    color: rgb(0, 0, 0) !important;   
}
.prueba{
    background-color: #e9e7e3 ;
    font-weight: lighter;
    color: white;
}
#selecciondeunidadoconsorcio{
    width: 120px;
    float: left;
}
#ConsorcioShowcase{
    display: flex;
    margin-left: 150px;
    width: 300px;
}
.unidadyprop{
    display: flex;
}
#UnidadShowcase{
    margin-left: 30px;
    width: 120px;
    margin-right: 20px;
}
#PropietarioShowcase{
    margin-right: 20px;
    width: 120px;
}
#FechaAltaGastos{
    width: 200px;
    margin-right: 20px;
    float: right;
    height: 40px;
    margin-bottom: 0px;
}
#selectconsorcio{
    height: 40px;
    margin-right: 10px;
    width: 220px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
#selectconsorcio31{
    float: left;
    margin-bottom: 30px;
    width: 320px;
    margin-left: 10px;
    margin-right: 0px !important;
}
#selectconsorcio2{
    height: 40px;
    width: 220px;
    margin-right: 0px;
    float: right;
    position: relative
}
#periodogasto{
    width: 200px;
}
#periodoaliq{
    width: 200px;
}
#contenedortop{
    width: 500px;
    position: absolute;
}
#conceptostyle{
    width: 480px;
    margin-left: 0px;
    
}


#importe{
    width: 200px;
}
#nrocomp{
    width: 200px; 
}
#descripcion{
    margin-top: 10px;
    margin-bottom: 10px;
}
.searchtitle{
    margin-left: 350px;
}
#botondecambio1{
    margin-right: 170px;
}
#botondecambio2{
    margin-left: 10px !important;
}
