.nav {
    background-color: rgb(183, 228, 199)  !important;
}

.sidenav{
    background-color: #E3DCCA  !important;
}
.sidenavs{
    background-color: #E3DCCA  !important;
}

.prueba{
    background-color: #e9e7e3 ;
    font-weight: lighter;
    color: white;
}
.letter{
    color: black;
    font-weight: lighter;
}

