.addunitbtn{
    float: right;
    margin-right: 225px;
    background-color:  #12212C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1DC8C8;
    width: 200px;
    height: 42px;
    left: 1243px;
    top: 307px; 
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px #1DC8C8;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitbtn3{
    padding: 16px 32px;
    color: #fff;
    cursor: pointer;
    float: right;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 150px;
    width: 150px;
    height: 42px;
    margin-top: 20px;
    border-radius: 4px;
}

.browser-default{
    background-color:  #ffffff !important;
    color: rgb(0, 0, 0) !important;   
}

#modal-modal-title{
    color: white;
}

#Detalle{
    color: white;
}

#selectconsorcio3{
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}
#selectconsorcio4{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 412px;
}
#selectconsorcio5{
    
    width: 412px;
}
#denominacionid{
    margin-bottom: 20px;
}
#incdesc{
    margin-top: 30px;
    margin-bottom: 20px !important;
}
#inciva{
    margin-top: 30px;
    margin-bottom: 20px;
}